@tailwind base;
@tailwind components;
@tailwind utilities;

/* headings */
h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

/* body */
body {
  /* font-family: "Roboto", sans-serif; */
  @apply font-["Roboto"]  transition-all duration-500 max-w-full;
}

aside {
  @apply fixed w-[300px] h-screen bg-white dark:bg-greey z-40;
}

#nav-container {
  @apply my-16 mx-6 dark:text-white;
}

#nav-container ul {
  @apply list-none text-3xl font-semibold block m-5 pt-12;
}

#nav-button {
  @apply sticky bg-white dark:bg-greey z-50 rounded-full cursor-pointer m-3 border-none px-2 md:px-2 py-2;
}

#nav-btn-container {
  position: absolute;
  @apply z-50;
}
