@tailwind base;
@tailwind components;
@tailwind utilities;

/* headings */
h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

/* body */
body {
  /* font-family: "Roboto", sans-serif; */
  @apply font-["Roboto"] bg-seashell;
}

/* general styles */
/* #home-place-image-div {
  background-image: url();
} */
